# Windows image file caches
Thumbs.db
ehthumbs.db
# Folder config file
Desktop.ini
# Recycle Bin used on file shares
$RECYCLE.BIN/
# Mac crap
.DS_Store
# Notepad++ backups #
*.bak
# Ignore Node modules
js/node_modules
# LibreOffice lock files
.~lock*