---
layout: default
---
<div class="sectionA">
    <div class="container">
        <br>
        <br>
        <h3>Supported Hash Types</h3>
        <br>
        <br>
    </div>
</div>
<div class="container">
    <br>
    <div class="options table-responsive">
        <table class="table" style="margin-top: 16px;">
            <thead>
            <tr>
                <th scope="col">Hash</th>
                <th scope="col">Hashcat</th>
                <th scope="col">JohnTheRipper</th>
            </tr>
            </thead>
            <tbody>
            {% assign definitions = site.data.hash_definitions %}
            {% for regex in definitions %}
                {% for hash_type in regex.modes %}
                <tr>
                    <td>{{hash_type.name}}</td>
                    <td>{{hash_type.hashcat}}</td>
                    <td>{{hash_type.john}}</td>
                </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
</div>
<br>
