<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" href="./img/icon-a.png">
<link rel="stylesheet" href="./css/bootstrap.min.css" />
<link rel="stylesheet" href="./css/bootstrap-grid.min.css" />
<link rel="stylesheet" href="./css/bootstrap-reboot.min.css" />
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<link rel="stylesheet" href="./css/hashID.css">
<script src="./js/bootstrap.min.js" type="text/javascript"></script>
<script src="./js/hashID.js" type="text/javascript"></script>