<nav class="navbar navbar-expand-md navbar-dark bg-dark static-top">
	<div class="container">
		<a class="navbar-brand" href="..">
			<img src="./img/icon-e.png" width="30" height="30" class="d-inline-block align-top"	/>
			hashID
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="./">
						Identify
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="./types">
						Hash-types
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" target="_blank" href="{{ site.github }}">
						<img src="https://github.com/favicon.ico" width=24px height=24px />
						View on GitHub
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>